@model Category

<h1 class="text-white">Edit Category</h1>

<form asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label for="Name" class="text-white">Name</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
